<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Trusted_Connection=Yes;Data Source=(local);Database=ScDataApi_Core" />
  <add name="master" connectionString="Trusted_Connection=Yes;Data Source=(local);Database=ScDataApi_Master" />
  <add name="web" connectionString="Trusted_Connection=Yes;Data Source=(local);Database=ScDataApi_Web" />
</connectionStrings>